trunk/HS.Service.Connection/Service References/HSService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1032/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" />
  <xs:import schemaLocation="http://localhost:1032/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddDanhMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q1:DanhMucData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDanhMucResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDanhMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q2:DanhMucData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeDanhMucResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDanhMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q3:DanhMucData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveDanhMucResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucsResult" nillable="true" type="q4:ArrayOfDanhMucData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLoaiDanhMuc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucByIDResult" nillable="true" type="q5:DanhMucData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucByCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucByCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucByCriteriaResult" nillable="true" type="q6:ArrayOfDanhMucData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucBySizeCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucBySizeCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucBySizeCriteriaResult" nillable="true" type="q7:ArrayOfDanhMucData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDanhMucCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
        <xs:element minOccurs="0" name="sortByColumns" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucPagingResult" nillable="true" type="q8:ArrayOfDanhMucData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDanhMucItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q9:DanhMucItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDanhMucItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDanhMucItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDanhMucItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q10:DanhMucItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDanhMucItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeDanhMucItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDanhMucItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q11:DanhMucItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDanhMucItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveDanhMucItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemsByDanhMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLoaiDanhMuc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemsByDanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucItemsByDanhMucResult" nillable="true" type="q12:ArrayOfDanhMucItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucItemsResult" nillable="true" type="q13:ArrayOfDanhMucItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="iD" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucItemByIDResult" nillable="true" type="q15:DanhMucItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemByCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemByCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucItemByCriteriaResult" nillable="true" type="q16:ArrayOfDanhMucItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemBySizeCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemBySizeCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucItemBySizeCriteriaResult" nillable="true" type="q17:ArrayOfDanhMucItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDanhMucItemCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
        <xs:element minOccurs="0" name="sortByColumns" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDanhMucItemPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetDanhMucItemPagingResult" nillable="true" type="q18:ArrayOfDanhMucItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q19:SysAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSysAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q20:SysAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSysAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeSysAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSysAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q21:SysAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSysAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveSysAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetSysAccountsResult" nillable="true" type="q22:ArrayOfSysAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetSysAccountByIDResult" nillable="true" type="q23:SysAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountByCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountByCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetSysAccountByCriteriaResult" nillable="true" type="q24:ArrayOfSysAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountBySizeCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountBySizeCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetSysAccountBySizeCriteriaResult" nillable="true" type="q25:ArrayOfSysAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysAccountCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
        <xs:element minOccurs="0" name="sortByColumns" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysAccountPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetSysAccountPagingResult" nillable="true" type="q26:ArrayOfSysAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q27:SysGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSysGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q28:SysGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSysGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeSysGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSysGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="data" nillable="true" type="q29:SysGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSysGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveSysGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetSysGroupsResult" nillable="true" type="q30:ArrayOfSysGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetSysGroupByIDResult" nillable="true" type="q31:SysGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupByCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupByCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetSysGroupByCriteriaResult" nillable="true" type="q32:ArrayOfSysGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupBySizeCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupBySizeCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetSysGroupBySizeCriteriaResult" nillable="true" type="q33:ArrayOfSysGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSysGroupCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
        <xs:element minOccurs="0" name="sortByColumns" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysGroupPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/HS.Server.Data.Entities.Systems" minOccurs="0" name="GetSysGroupPagingResult" nillable="true" type="q34:ArrayOfSysGroupData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>