test_project/Service References/MailService/MailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WSDL:definitions xmlns:tns="urn:MailService" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="urn:MailService" xmlns="http://schemas.xmlsoap.org/wsdl/" name="MailService" targetNamespace="urn:MailService" xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/">
  <WSDL:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:MailService">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOfstr">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string" />
            </xsd:sequence>
            <xsd:attribute WSDL:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </WSDL:types>
  <WSDL:message name="addContact">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="email" type="xsd:string" />
    <WSDL:part name="domain" type="xsd:string" />
    <WSDL:part name="mtype" type="xsd:long" />
    <WSDL:part name="fullname" type="xsd:string" />
    <WSDL:part name="mobile" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="addContactResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="add_list">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="domain" type="xsd:string" />
    <WSDL:part name="contact-list" type="ns1:ArrayOfstr" />
    <WSDL:part name="mtype" type="xsd:long" />
  </WSDL:message>
  <WSDL:message name="add_listResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="fr_sendMails">
    <WSDL:part name="domain" type="xsd:string" />
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="from-email" type="xsd:string" />
    <WSDL:part name="subject" type="xsd:string" />
    <WSDL:part name="content" type="xsd:string" />
    <WSDL:part name="mtype" type="xsd:string" />
    <WSDL:part name="start-time" type="xsd:string" />
    <WSDL:part name="from-name" type="xsd:string" />
    <WSDL:part name="reply-to" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="fr_sendMailsResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="fr_send_mails">
    <WSDL:part name="domain" type="xsd:string" />
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="from-email" type="xsd:string" />
    <WSDL:part name="subject" type="xsd:string" />
    <WSDL:part name="content" type="xsd:string" />
    <WSDL:part name="maillist" type="xsd:string" />
    <WSDL:part name="from-name" type="xsd:string" />
    <WSDL:part name="reply-to" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="fr_send_mailsResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="getLists">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="domain" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="getListsResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="getMobileOfList">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="domain" type="xsd:string" />
    <WSDL:part name="list-name" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="getMobileOfListResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="getNumberOfList">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="domain" type="xsd:string" />
    <WSDL:part name="list-name" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="getNumberOfListResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="getStatus">
    <WSDL:part name="job-id" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="getStatusResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="mc_sendmail">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="parameters" type="ns1:ArrayOfstr" />
    <WSDL:part name="template" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="mc_sendmailResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="removeContact">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="email" type="xsd:string" />
    <WSDL:part name="domain" type="xsd:string" />
    <WSDL:part name="mtype" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="removeContactResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="remove_list">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="domain" type="xsd:string" />
    <WSDL:part name="mtype" type="xsd:long" />
  </WSDL:message>
  <WSDL:message name="remove_listResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="sendMail">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="from-email" type="xsd:string" />
    <WSDL:part name="subject" type="xsd:string" />
    <WSDL:part name="content" type="xsd:string" />
    <WSDL:part name="to-email" type="xsd:string" />
    <WSDL:part name="from-name" type="xsd:string" />
    <WSDL:part name="cc" type="xsd:string" />
    <WSDL:part name="bcc" type="xsd:string" />
    <WSDL:part name="reply-to" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="sendMailResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="sendMails">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="from-email" type="xsd:string" />
    <WSDL:part name="subject" type="xsd:string" />
    <WSDL:part name="content" type="xsd:string" />
    <WSDL:part name="mtype" type="xsd:string" />
    <WSDL:part name="start-time" type="xsd:string" />
    <WSDL:part name="from-name" type="xsd:string" />
    <WSDL:part name="reply-to" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="sendMailsResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="send_mail">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="domain" type="xsd:string" />
    <WSDL:part name="from-email" type="xsd:string" />
    <WSDL:part name="subject" type="xsd:string" />
    <WSDL:part name="content" type="xsd:string" />
    <WSDL:part name="to-email" type="xsd:string" />
    <WSDL:part name="from-name" type="xsd:string" />
    <WSDL:part name="cc" type="xsd:string" />
    <WSDL:part name="bcc" type="xsd:string" />
    <WSDL:part name="reply-to" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="send_mailResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="send_mails">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="from-email" type="xsd:string" />
    <WSDL:part name="subject" type="xsd:string" />
    <WSDL:part name="content" type="xsd:string" />
    <WSDL:part name="maillist" type="xsd:string" />
    <WSDL:part name="from-name" type="xsd:string" />
    <WSDL:part name="reply-to" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="send_mailsResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="send_special_mail">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="from-email" type="xsd:string" />
    <WSDL:part name="subject" type="xsd:string" />
    <WSDL:part name="content" type="xsd:string" />
    <WSDL:part name="to-email" type="xsd:string" />
    <WSDL:part name="from-name" type="xsd:string" />
    <WSDL:part name="cc" type="xsd:string" />
    <WSDL:part name="bcc" type="xsd:string" />
    <WSDL:part name="reply-to" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="send_special_mailResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="st_send_mail">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="from-name" type="xsd:string" />
    <WSDL:part name="from-email" type="xsd:string" />
    <WSDL:part name="subject" type="xsd:string" />
    <WSDL:part name="content" type="xsd:string" />
    <WSDL:part name="to-email" type="xsd:string" />
    <WSDL:part name="reply-to" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="st_send_mailResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="stop_job">
    <WSDL:part name="secure-key" type="xsd:string" />
    <WSDL:part name="domain" type="xsd:string" />
    <WSDL:part name="job-id" type="xsd:string" />
  </WSDL:message>
  <WSDL:message name="stop_jobResponse">
    <WSDL:part name="result" type="xsd:string" />
  </WSDL:message>
  <WSDL:portType name="MailServicePortType">
    <WSDL:operation name="addContact">
      <documentation>Add a contact to db.     
        </documentation>
      <WSDL:input message="ns1:addContact" />
      <WSDL:output message="ns1:addContactResponse" />
    </WSDL:operation>
    <WSDL:operation name="add_list">
      <documentation>Add a contact list
        </documentation>
      <WSDL:input message="ns1:add_list" />
      <WSDL:output message="ns1:add_listResponse" />
    </WSDL:operation>
    <WSDL:operation name="fr_sendMails">
      <documentation>Do sending email job.
        </documentation>
      <WSDL:input message="ns1:fr_sendMails" />
      <WSDL:output message="ns1:fr_sendMailsResponse" />
    </WSDL:operation>
    <WSDL:operation name="fr_send_mails">
      <documentation>Send a mail to all emails in maillist.
- maillist: ["example@ex.com ", ....]</documentation>
      <WSDL:input message="ns1:fr_send_mails" />
      <WSDL:output message="ns1:fr_send_mailsResponse" />
    </WSDL:operation>
    <WSDL:operation name="getLists">
      <documentation>Get email lists of domain
        </documentation>
      <WSDL:input message="ns1:getLists" />
      <WSDL:output message="ns1:getListsResponse" />
    </WSDL:operation>
    <WSDL:operation name="getMobileOfList">
      <documentation>Get number of emails and mobile in a list.
        </documentation>
      <WSDL:input message="ns1:getMobileOfList" />
      <WSDL:output message="ns1:getMobileOfListResponse" />
    </WSDL:operation>
    <WSDL:operation name="getNumberOfList">
      <documentation>Get number of emails in a list.
        </documentation>
      <WSDL:input message="ns1:getNumberOfList" />
      <WSDL:output message="ns1:getNumberOfListResponse" />
    </WSDL:operation>
    <WSDL:operation name="getStatus">
      <documentation>Return status of job.
        </documentation>
      <WSDL:input message="ns1:getStatus" />
      <WSDL:output message="ns1:getStatusResponse" />
    </WSDL:operation>
    <WSDL:operation name="mc_sendmail">
      <documentation>This function was writen just for muachung
        </documentation>
      <WSDL:input message="ns1:mc_sendmail" />
      <WSDL:output message="ns1:mc_sendmailResponse" />
    </WSDL:operation>
    <WSDL:operation name="removeContact">
      <documentation>Remove a contact from db
        </documentation>
      <WSDL:input message="ns1:removeContact" />
      <WSDL:output message="ns1:removeContactResponse" />
    </WSDL:operation>
    <WSDL:operation name="remove_list">
      <documentation>Remove a list from db
        </documentation>
      <WSDL:input message="ns1:remove_list" />
      <WSDL:output message="ns1:remove_listResponse" />
    </WSDL:operation>
    <WSDL:operation name="sendMail">
      <documentation>Send a mail to to_email
- subject and content: have to encode in utf-8
- from_name: (optional)</documentation>
      <WSDL:input message="ns1:sendMail" />
      <WSDL:output message="ns1:sendMailResponse" />
    </WSDL:operation>
    <WSDL:operation name="sendMails">
      <documentation>Do sending email job.
        </documentation>
      <WSDL:input message="ns1:sendMails" />
      <WSDL:output message="ns1:sendMailsResponse" />
    </WSDL:operation>
    <WSDL:operation name="send_mail">
      <documentation>Send a mail to to_email
- subject and content: have to encode in utf-8
- from_name: (optional)</documentation>
      <WSDL:input message="ns1:send_mail" />
      <WSDL:output message="ns1:send_mailResponse" />
    </WSDL:operation>
    <WSDL:operation name="send_mails">
      <documentation>Send one to many.
- maillist: "example@ex.com, ...."</documentation>
      <WSDL:input message="ns1:send_mails" />
      <WSDL:output message="ns1:send_mailsResponse" />
    </WSDL:operation>
    <WSDL:operation name="send_special_mail">
      <documentation>Send a mail to to_email
- subject and content: have to encode in utf-8
- from_name: (optional)</documentation>
      <WSDL:input message="ns1:send_special_mail" />
      <WSDL:output message="ns1:send_special_mailResponse" />
    </WSDL:operation>
    <WSDL:operation name="st_send_mail">
      <documentation>This function was writen just for sting.vn
- subject and content: have to encode in utf-8</documentation>
      <WSDL:input message="ns1:st_send_mail" />
      <WSDL:output message="ns1:st_send_mailResponse" />
    </WSDL:operation>
    <WSDL:operation name="stop_job">
      <documentation>Remove a running job
        </documentation>
      <WSDL:input message="ns1:stop_job" />
      <WSDL:output message="ns1:stop_jobResponse" />
    </WSDL:operation>
  </WSDL:portType>
  <WSDL:binding name="MailService" type="ns1:MailServicePortType">
    <SOAP:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <WSDL:operation name="addContact">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/addContact" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="add_list">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/add_list" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="fr_sendMails">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/fr_sendMails" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="fr_send_mails">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/fr_send_mails" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="getLists">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/getLists" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="getMobileOfList">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/getMobileOfList" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="getNumberOfList">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/getNumberOfList" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="getStatus">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/getStatus" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="mc_sendmail">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/mc_sendmail" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="removeContact">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/removeContact" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="remove_list">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/remove_list" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="sendMail">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/sendMail" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="sendMails">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/sendMails" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="send_mail">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/send_mail" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="send_mails">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/send_mails" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="send_special_mail">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/send_special_mail" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="st_send_mail">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/st_send_mail" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="stop_job">
      <SOAP:operation soapAction="http://api.sting.todo.vn:28110/MailService/soap/stop_job" style="rpc" />
      <WSDL:input>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="encoded" namespace="urn:MailService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </WSDL:output>
    </WSDL:operation>
  </WSDL:binding>
  <WSDL:service name="MailService">
    <documentation>Ladon generated service definition</documentation>
    <WSDL:port name="MailService" binding="ns1:MailService">
      <SOAP:address location="http://api.sting.todo.vn:28110/MailService/soap" />
    </WSDL:port>
  </WSDL:service>
</WSDL:definitions>